/* Tooltip container */
.clickster-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
/* Tooltip text */
.clickster-tooltip--text {
    width: 120px;
    background-color: grey;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
